*{
    margin: 0%;padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;height: 100%;

}

.container{
    width: 100%;
    height: min-content;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 3vh 4vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 10%;
    width: 100%;
    /* margin-top: 3vh; */
    /* background-color: rgba(53, 53, 53, 0.452);   */
    /* backdrop-filter: blur(5px); */
    background-color: grey;
    color: #fff;
}

nav>ul{
    display: flex;
    justify-content: space-between;
    width: 60%;
    list-style: none;
    align-items: center;
}

.logo{
    transform: scale(.8);
}

nav>ul>button{
    padding: 1.5vh 4vh;
    background-color: transparent;
    letter-spacing: .8px;
    border: 1px solid rgb(228, 228, 228);
}

.heero{
    width: 100%;
    height: 90vh;
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    padding: 5vh 8vh;
}

.lside{
    height: 80%;
    width: 40%;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/teamdiscussion_K7aZB2Fmg.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282671959');
    background-size: cover;
}

.rside{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left; 
    padding: 5vh 3vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   

.rside>h6{
    font-size: 3rem;
    font-weight: 200;
}
.rside>p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
    font-weight: 100;
}

.rside>.lets-talk-form{
    width: 80%;
    height: 12%;
    display: flex;
    background-color: #fff;
}


.rside>.lets-talk-form>img{
    transform: scale(.4);

}
.rside>.lets-talk-form>input{
    width: 60%;
    height: 100%;
    border: none;
    outline: none;
    padding: 1vh 2vh; 
}

.rside>.lets-talk-form>button{
    width: 40%;
    height: 90%;
    margin: .8%;
    cursor: pointer;
    color: #fff;
    background-color: rgb(123, 190, 132);
    border: none;
    outline: none;
}

.section2{
    height: 140vh;
    padding: 8vh 5vh;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.timeline-numbers{
    padding: 3vh 2vh;
    margin: 5vh 0vh;
    font-weight: 200;
    display: flex;
    justify-content: space-evenly;
}

.timeline-numbers>*>h1{
    margin-bottom: 2vh;
}

.imagee{
    position: relative;
    height: 70%;
    left: 13%;
    width: 74%;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/grouppresentation_vbvXyw43v.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282671637');
    background-size: cover;
}

.section3{
    height: 140vh;
    width: 100%;
    padding: 3vh 25vh;
    justify-content: space-evenly;
}

.section3>h2{
    display: block;
    font-weight: 300;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 13vh;
}

.lside3{
    float: left;
    display: inline;
    width: 45%;
    height: 60%;
    background-color: #fff;
    padding: 20vh 2vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lside3>h1{
    font-weight: 200;
}

.lside3>p{
    margin: 5vh 0vh;
    font-weight: 200;
    letter-spacing: .5px;
}

.lside3>button{
    width: 50%;
    height: 15%;
    border: none;
    background-color:  rgb(123, 190, 132);
}

.rside3{
    width: 45%;
    height: 65%;
    float: right;
    display: inline;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/boy_0BCZWppFU.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282669125');
    background-size: cover;
}

.section4{
    height: 100%;
    width: 100%;
    padding: 3vh 20vh;
    display: flex;
    justify-content: space-evenly;
}

.lside4{
    float: left;
    display: inline;
    width: 45%;
    height: 80vh;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/pexels-fauxels-3184603_JrwxcybTb.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282669826');
    background-size: cover;
    padding: 20vh 2vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rside4{
    float: right;
    display: inline;
    width: 45%;
    height: 90%;
    background-color: #fff;
    padding: 20vh 2vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rside4>h1{
    font-weight: 200;
}

.rside4>p{
    margin: 5vh 0vh;
    font-weight: 200;
    letter-spacing: .5px;
}

.rside4>button{
    width: 50%;
    height: 6vh;
    border: none;
    background-color:  rgb(123, 190, 132);
}

.section5{
    height: 100%;
    width: 100%;
    padding: 3vh 20vh;
    display: flex;
    justify-content: space-evenly;

}

.lside5{
    width: 45%;
    height: 80vh;
  padding: 20vh 2vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lside5>h1{
    font-weight: 200;
}

.lside5>p{
    margin: 7vh 0vh;
    font-weight: 200;
    letter-spacing: .5px;
}

.lside5>button{
    width: 50%;
    height: 6vh;
    border: none;
    background-color:  rgb(123, 190, 132);
}

.rside5{
    width: 45%;
    height: 80vh;
    float: right;
    display: inline;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/pexels-linkedin-sales-navigator-2182969_DIIYoSx7p.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282671398');
    background-size: cover;
}

.section6{
   height: 110vh;
    padding: 2vh 10vh;
}

.section6>h2{
    font-size: 2em;
    display: inline;
    margin-left: 8%;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    float: left;
}

.section6>p{
    display: inline;
    margin-top: 2vh;
    margin-right: 8%;
    color: rgb(63, 63, 63);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    float: right;
}

.three-iamges-div{
    height: 90vh;
    width: 100%;
    padding: 5vh 8vh;
    display: flex;
    justify-content: space-evenly;
    
}

.three-iamges-div>.img-one{
    height: 55vh;
    width: 27%;
    margin: 2% 1%;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/pexels-mikhail-nilov-8937870_sCk7ck77_.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282670635');
    background-size: cover;
}

.three-iamges-div>.img-two{
    height: 55vh;
    width: 27%;
    margin: 2% 1%;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/blackcoat_dsdscwMmx.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282669438');
    background-size: cover;
}

.three-iamges-div>.img-three{
    height: 55vh;
    width: 27%;
    margin: 2% 1%;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/pexels-christina-morillo-1181424_wBA5oN03a.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282669257');
    background-size: cover;
}


.three-iamges-div>*>h3,.intro-text{
    position: relative;
    display: block;
    top: 105%;
    margin-bottom: 1.4vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}

.three-iamges-div>*>h3{
    font-weight: 400;
}

.three-iamges-div>*>.intro-text{
    font-size: .9em;
}


.section6>button{
    position: relative;
    top: -8vh;
    left: 45%;
    padding: 2vh 5vh;
    border: none;
    background-color: rgb(123, 190, 132);
    color: #fff;
}

.footer{
    height: 60vh;
    padding: 2vh 14vh;
    background-color: rgb(50, 56, 61);
}

.f-head{
    justify-content: space-between;
    display: flex;
}

.f-head .f-h-logo>img{
    transform: scale(.8);
}

.f-head>.social-icon>ul{
    width: 50vh;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    align-items: center;
    margin-top: 5%;
    list-style: none;
}

.footer>hr{
    margin-top: 5vh;
    background-color: rgba(158, 158, 158);
    opacity: .2;
}

.f-footer{
    display: flex;
    height: 60%;
    margin-top: 8vh;
    justify-content: space-between;
}

.f-footer>ul{
    list-style: none;

}
.f-footer>*>li:first-child{
    color: rgb(228, 228, 228);
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10%;
    font-weight: 400;
}

.f-footer>*>li:first-child ~ li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 2vh 0vh;
    font-size: .8em;
    color: rgba(197, 197, 197, 0.555);
}

button{
    cursor: pointer;
}

.menu{
    display: none;
}

.cross{
    display: none;
}


/* Mobile responsive media query */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    nav{
        display: none;
        height: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 5;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.445);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5.5px );
        -webkit-backdrop-filter: blur( 5.5px );
    }

    nav>.logo{
        height: 40px;
        width: 80px;
        position: absolute;
        /* z-index: 3; */
        /* display: none; */
        visibility: hidden;
    }

    .nav-menu{
        height: 80%;
        width: 100%;
        background-color: transparent;
    }

    nav>ul{
        display: flex;
        height: 100%;
        width: 100%;
        font-size: 1.3em;
        flex-direction: column;
        align-items: center;
        padding-left: 2%;
        justify-content: space-evenly;
        background-color: transparent;
    }
    
    ul>*{
        font-weight: 700;
        color: black;
        transition: .2s ease-in-out;
    }

    ul>*:hover{
        color: #C91B28;
        font-size: 1.2em;
        border-bottom: 2px solid red;
        padding: 2vh;
    }

    .menu{
        display:block;
        position: fixed;
        z-index: 4;
        left: 80%;
        top: 2%;
        width: 20px;
        height: 30px;
        font-size: 2em;
        color: #ffffff;
    }

    .cross{
        position: fixed;
        left: -11%;
        top: 0%;
        color: rgb(250, 250, 250);
        z-index: 10;
        /* font-weight: 300; */
        margin: 3vh 45vh;
        font-size: 3em;
    }

    .hide{
        display: none !important;
    }

    .show{
        display: block;
    }

    .heero{
        flex-direction: column;
        padding-top: 30% !important;
        padding: 2vh 4vh;
        align-items: center;
        height: 100vh;
    }

    .lside{
        width:90%;
        height: 50%;
    }

    .rside{
        width: 90%;
        height: 100%;
        margin-top: -4vh;
        padding: 0vh 0vh;
    }

    .rside>h6{
        font-size: 2em;
    }

    .rside>p{
        line-height: 1rem;
        margin: -15vh 0%
    }

     .rside>.lets-talk-form{
            width: 90%;
            height: 8%;
        }

    .section2{
        background-color: aquamarine;
        padding: 2vh 2vh;
        text-align: center;
        height: 90vh;
    }    

    .section2>h1{
        font-size: 1.3em;
    }

    .timeline-numbers{
        padding: 1vh 1vh;
        flex-direction: column;
    }

    .timeline-numbers>*>h1{
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .imagee{
        height: 30%;
        width: 90%;
        transform: translate(-10%);
    }

    .section3{
        display: flex;
        flex-direction: column;
        background-color: rgb(44, 36, 36);
        padding: 2vh 2vh;
        height: 100vh;
    }

    .section3>h2{
        font-size: 2em;
    }
    .lside3{
        order: 3;
        gap: 2;
        width: 90%;
        height: 30%;
        margin-top: -15%;
        transform: translate(5%);
        padding: 2vh 2vh;
    }
    .lside3>h1{
        font-weight: 100;
        font-size: 1.5em;
    }
    .lside3>button{
        transform: translate(45%);
    }

    .rside3{
        width: 90%;
        height: 30%;
        margin-top: -15vh;
        transform: translate(5%);
    }

    .section4{
        flex-direction: column;
        gap: 2;
        padding: 8vh 2vh;
    }

    .section4>*{
        width: 90%;
        height: 60%;
        transform: translate(5%);
    }

    .rside4{
        padding: 8vh 2vh;
    }
    .rside4>h1{
        font-size: 1.5em;
    }
    .rside4>p{
        font-size: 1em;
    }

    .rside4>button{
        height: 4vh;
        transform: translate(45%);
    }    
    .section5{
        flex-direction: column;
        padding: 3vh 2vh;
    }

    .section5>*{
        width: 90%;
        height: 60%;
        transform: translate(5%);
    }

    .section5>.lside5{
        order: 2;
        padding: 8vh 0vh;
        width: 90%;
        height: 50vh;
    }

    .lside5>h1{
        font-size: 1.5em;
    }

    .lside5>button{
            height: 4vh;
        transform: translate(45%);
        }

    .section6{
        background-color: blueviolet;
        padding: 2vh 2vh;
    }

    .section6>h2{
        font-size: 1.4em;
        display: block;
        text-align: center;
    }

    .section6>h2>br{
        display: none;
    }

    .section6>p>*{
        display: none;
    }

    .three-iamges-div{
        flex-direction: column;
        padding: 0vh 0vh;
        height: 200vh;
        background-color: rgb(92, 77, 77);
    }

    .three-iamges-div>.img-one{
        margin-top: -14vh;
        width: 90%;
        height: 40vh;
        background-size: cover;
        background-color: #fff;
        transform: translate(5%);
    }

    .three-iamges-div>.img-two{
        margin-top: -10vh;
        width: 90%;
        height: 40vh;
        transform: translate(5%);
        background-size: cover;
        background-color: #fff;
    }

    .three-iamges-div>.img-three{
        width: 90%;
        height: 40vh;
        transform: translate(5%);
        margin-top: 4vh;
        background-size: cover;
        background-color: #fff;
    }
    .section6>button{
        /* background-color: aquamarine; */
        /* margin-top: -8%; */
        padding: 1vh 3vh;
        transform: translate(-40%);
    }

    .footer{
        background-color: rgb(87, 96, 177);
        margin-top: 115vh;
        height: min-content;
        padding: 2vh 2vh;

    }

    .f-head{
        flex-direction: column;
        align-items: center;
    }

    .f-head .f-h-logo>img{
        transform: scale(.5);
    }


    .f-footer{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 4;
    }

    .f-footer>ul{
        width: 40%;
    }
}

